body {
    padding: 10px;
}

.navbar-brand {
    font-size: 40px;
}

.aspect-ratio{
    max-height: 225px; 
    width: auto; 
    display: block;
    margin: 0 auto;
}

.card-link {
    color: black;
}

.display-image {
  max-height: 300px;
  width: auto;
  height: auto;
}

.auto-width-col {
    max-width: calc(100% - 6rem);
}

.slim-input {
    max-width: 100px;
}
/* Hiding the arrow in the number input box: Sourced from - https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.alert {
    display: inline-block;
}

.list-group-item {
    max-width: 400px;
}

.list-group-item:hover {
    background-color: lightgray;
    color: black;
}
