body {
    padding: 10px;
}

.navbar-brand {
    font-size: 40px;
}

.aspect-ratio{
    max-height: 225px; 
    width: auto; 
    display: block;
    margin: 0 auto;
}

.card-link {
    color: black;
}

.display-image {
  max-height: 300px;
  width: auto;
  height: auto;
}

.auto-width-col {
    max-width: calc(100% - 6rem);
}
